includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - phpstan-baseline.neon

parameters:
    ignoreErrors:
        - message: '#expects string, mixed given#'
        - message: '#return type has no value type specified in iterable type array#'

    paths:
        - app/

    level: max
