parameters:
	ignoreErrors:
		-
			message: '#^PHPDoc tag @param for parameter \$users with type array\<App\\Domain\\Auth\\Entities\\UserEntity\> is incompatible with native type App\\Domain\\Auth\\Entities\\UserEntity\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: app/Domain/Auth/Entities/UserEntityCollection.php

		-
			message: '#^PHPDoc tag @param for parameter \$posts with type array\<App\\Domain\\ChallengeGroup\\Entities\\ChallengeGroupPostEntity\> is incompatible with native type App\\Domain\\ChallengeGroup\\Entities\\ChallengeGroupPostEntity\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: app/Domain/ChallengeGroup/Entities/ChallengeGroupPostEntityCollection.php

		-
			message: '#^Method App\\Domain\\Shared\\Helpers\\Collection\:\:getIterator\(\) should return ArrayIterator\<TKey of int\|string, TValue\> but returns ArrayIterator\<\(TKey of int\)\|TKey of string, TValue\>\.$#'
			identifier: return.type
			count: 1
			path: app/Domain/Shared/Helpers/Collection.php

		-
			message: '#^Property App\\Domain\\Shared\\Helpers\\Collection\<TKey of int\|string,TValue\>\:\:\$items \(Ds\\Map\<TKey of int\|string, TValue\>\) does not accept Ds\\Map\<mixed, mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: app/Domain/Shared/Helpers/Collection.php

		-
			message: '#^Property App\\Infrastructure\\Events\\ChallengeGroupPostCreated\:\:\$post is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: app/Infrastructure/Events/ChallengeGroupPostCreated.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Infrastructure\\Persistence\\Models\\Auth\\ApiUser\|App\\Infrastructure\\Persistence\\Models\\Auth\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Infrastructure/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: '#^Cannot call method sendEmailVerificationNotification\(\) on App\\Infrastructure\\Persistence\\Models\\Auth\\ApiUser\|App\\Infrastructure\\Persistence\\Models\\Auth\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Infrastructure/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: '#^Parameter \#1 \$key of function __ expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Parameter \#1 \$value of static method Illuminate\\Support\\Facades\\Hash\:\:make\(\) expects string, Illuminate\\Support\\Stringable given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Http/Controllers/Auth/RegisteredUserController.php

		-
			message: '#^Binary operation "\." between mixed and ''/dashboard\?verified…'' results in an error\.$#'
			identifier: binaryOp.invalid
			count: 2
			path: app/Infrastructure/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Infrastructure\\Persistence\\Models\\Auth\\ApiUser\|App\\Infrastructure\\Persistence\\Models\\Auth\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Infrastructure/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method markEmailAsVerified\(\) on App\\Infrastructure\\Persistence\\Models\\Auth\\ApiUser\|App\\Infrastructure\\Persistence\\Models\\Auth\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Infrastructure/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Infrastructure\\Persistence\\Models\\Auth\\ApiUser\|App\\Infrastructure\\Persistence\\Models\\Auth\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Method App\\Infrastructure\\Http\\Controllers\\Controller\:\:callAction\(\) has parameter \$parameters with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Infrastructure/Http/Controllers/Controller.php

		-
			message: '#^Instanceof between App\\Infrastructure\\Persistence\\Models\\Auth\\ApiUser\|App\\Infrastructure\\Persistence\\Models\\Auth\\User and Illuminate\\Contracts\\Auth\\MustVerifyEmail will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Infrastructure/Http/Middleware/EnsureEmailIsVerified.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: app/Infrastructure/Http/Middleware/EnsureEmailIsVerified.php

		-
			message: '#^Cannot cast object\|string\|null to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Infrastructure/Http/Requests/ChallengeGroup/AddChallengeGroupPostRequest.php

		-
			message: '#^Parameter \#1 \$challenge_group_id of class App\\Application\\ChallengeGroups\\DTO\\AddChallengeGroupPostDTO constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Http/Requests/ChallengeGroup/AddChallengeGroupPostRequest.php

		-
			message: '#^Cannot cast object\|string\|null to int\.$#'
			identifier: cast.int
			count: 1
			path: app/Infrastructure/Http/Requests/ChallengeGroup/UpdateChallengeGroupRequest.php

		-
			message: '#^Parameter \#1 \$datetime of class DateTimeImmutable constructor expects string, string\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Http/Requests/ChallengeGroup/UpdateChallengeGroupRequest.php

		-
			message: '#^Parameter \#1 \$id of class App\\Application\\ChallengeGroups\\DTO\\UpdateChallengeGroupDTO constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Http/Requests/ChallengeGroup/UpdateChallengeGroupRequest.php

		-
			message: '#^Cannot call method toArray\(\) on mixed\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Infrastructure/Http/Resources/JsonResource.php

		-
			message: '#^Parameter \#2 \$array of function array_map expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Http/Resources/JsonResource.php

		-
			message: '#^Parameter \#7 \$created_at of class App\\Domain\\ChallengeGroup\\Entities\\ChallengeGroupEntity constructor expects DateTimeImmutable, Carbon\\CarbonImmutable\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Persistence/Mappers/ChallengeGroupMapper.php

		-
			message: '#^Parameter \#8 \$updated_at of class App\\Domain\\ChallengeGroup\\Entities\\ChallengeGroupEntity constructor expects DateTimeImmutable, Carbon\\CarbonImmutable\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Persistence/Mappers/ChallengeGroupMapper.php

		-
			message: '#^Cannot access property \$total_score on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Infrastructure/Persistence/Mappers/UserMapper.php

		-
			message: '#^Parameter \#4 \$total_score of class App\\Domain\\Auth\\Entities\\UserEntity constructor expects int\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Persistence/Mappers/UserMapper.php

		-
			message: '#^Cannot access offset ''token'' on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Infrastructure/Persistence/Models/Auth/SanctumCache/PersonalAccessTokenWithCache.php

		-
			message: '#^Cannot access property \$token on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Infrastructure/Persistence/Models/Auth/SanctumCache/PersonalAccessTokenWithCache.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Models\\Auth\\SanctumCache\\PersonalAccessTokenWithCache\:\:findToken\(\) should return App\\Infrastructure\\Persistence\\Models\\Auth\\SanctumCache\\PersonalAccessTokenWithCache\|null but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: app/Infrastructure/Persistence/Models/Auth/SanctumCache/PersonalAccessTokenWithCache.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Models\\Auth\\SanctumCache\\PersonalAccessTokenWithCache\:\:tokenable\(\) return type with generic class Illuminate\\Database\\Eloquent\\Casts\\Attribute does not specify its types\: TGet, TSet$#'
			identifier: missingType.generics
			count: 1
			path: app/Infrastructure/Persistence/Models/Auth/SanctumCache/PersonalAccessTokenWithCache.php

		-
			message: '#^Return type \(Illuminate\\Database\\Eloquent\\Casts\\Attribute\) of method App\\Infrastructure\\Persistence\\Models\\Auth\\SanctumCache\\PersonalAccessTokenWithCache\:\:tokenable\(\) should be compatible with return type \(Illuminate\\Database\\Eloquent\\Relations\\MorphTo\) of method Laravel\\Sanctum\\PersonalAccessToken\:\:tokenable\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: app/Infrastructure/Persistence/Models/Auth/SanctumCache/PersonalAccessTokenWithCache.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup\:\:creator\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Infrastructure\\Persistence\\Models\\Auth\\User, App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Infrastructure\\Persistence\\Models\\Auth\\User, \$this\(App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Infrastructure/Persistence/Models/ChallengeGroups/ChallengeGroup.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup\:\:participants\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Infrastructure\\Persistence\\Models\\Auth\\User, App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsToMany\<App\\Infrastructure\\Persistence\\Models\\Auth\\User, \$this\(App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Infrastructure/Persistence/Models/ChallengeGroups/ChallengeGroup.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup\:\:posts\(\) should return Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupPost, App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup\> but returns Illuminate\\Database\\Eloquent\\Relations\\HasMany\<App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupPost, \$this\(App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Infrastructure/Persistence/Models/ChallengeGroups/ChallengeGroup.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupPost\:\:challengeGroup\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup, App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupPost\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup, \$this\(App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupPost\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Infrastructure/Persistence/Models/ChallengeGroups/ChallengeGroupPost.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupPost\:\:user\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Infrastructure\\Persistence\\Models\\Auth\\User, App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupPost\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Infrastructure\\Persistence\\Models\\Auth\\User, \$this\(App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupPost\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Infrastructure/Persistence/Models/ChallengeGroups/ChallengeGroupPost.php

		-
			message: '#^Property App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupPost\:\:\$dispatchesEvents type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Infrastructure/Persistence/Models/ChallengeGroups/ChallengeGroupPost.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupUser\:\:challengeGroup\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup, App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupUser\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroup, \$this\(App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupUser\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Infrastructure/Persistence/Models/ChallengeGroups/ChallengeGroupUser.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupUser\:\:user\(\) should return Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Infrastructure\\Persistence\\Models\\Auth\\User, App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupUser\> but returns Illuminate\\Database\\Eloquent\\Relations\\BelongsTo\<App\\Infrastructure\\Persistence\\Models\\Auth\\User, \$this\(App\\Infrastructure\\Persistence\\Models\\ChallengeGroups\\ChallengeGroupUser\)\>\.$#'
			identifier: return.type
			count: 1
			path: app/Infrastructure/Persistence/Models/ChallengeGroups/ChallengeGroupUser.php

		-
			message: '#^Parameter \#7 \$created_at of class App\\Domain\\ChallengeGroup\\Entities\\ChallengeGroupEntity constructor expects DateTimeImmutable, Carbon\\CarbonImmutable\|null given\.$#'
			identifier: argument.type
			count: 4
			path: app/Infrastructure/Persistence/Repositories/ChallengeGroup/ChallengeGroupEloquentRepository.php

		-
			message: '#^Parameter \#8 \$updated_at of class App\\Domain\\ChallengeGroup\\Entities\\ChallengeGroupEntity constructor expects DateTimeImmutable, Carbon\\CarbonImmutable\|null given\.$#'
			identifier: argument.type
			count: 4
			path: app/Infrastructure/Persistence/Repositories/ChallengeGroup/ChallengeGroupEloquentRepository.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Repositories\\PassportCache\\RefreshTokenRepositoryWithCache\:\:createKey\(\) has parameter \$id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Infrastructure/Persistence/Repositories/PassportCache/RefreshTokenRepositoryWithCache.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Repositories\\PassportCache\\RefreshTokenRepositoryWithCache\:\:find\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Infrastructure/Persistence/Repositories/PassportCache/RefreshTokenRepositoryWithCache.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Persistence/Repositories/PassportCache/RefreshTokenRepositoryWithCache.php

		-
			message: '#^Binary operation "\." between mixed and mixed results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Infrastructure/Persistence/Repositories/PassportCache/TokenRepositoryWithCache.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Repositories\\PassportCache\\TokenRepositoryWithCache\:\:createKey\(\) has parameter \$id with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: app/Infrastructure/Persistence/Repositories/PassportCache/TokenRepositoryWithCache.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Repositories\\PassportCache\\TokenRepositoryWithCache\:\:find\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: app/Infrastructure/Persistence/Repositories/PassportCache/TokenRepositoryWithCache.php

		-
			message: '#^Method App\\Infrastructure\\Persistence\\Repositories\\PassportCache\\TokenRepositoryWithCache\:\:forUser\(\) return type with generic class Illuminate\\Database\\Eloquent\\Collection does not specify its types\: TKey, TModel$#'
			identifier: missingType.generics
			count: 1
			path: app/Infrastructure/Persistence/Repositories/PassportCache/TokenRepositoryWithCache.php

		-
			message: '#^Parameter \#3 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Persistence/Repositories/PassportCache/TokenRepositoryWithCache.php

		-
			message: '#^Binary operation "\." between mixed and string results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Infrastructure/Persistence/UniqueID/UniqueID.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 5
			path: app/Infrastructure/Persistence/UniqueID/UniqueID.php

		-
			message: '#^Class App\\Infrastructure\\Persistence\\UniqueID\\UniqueID implements generic interface Illuminate\\Contracts\\Database\\Eloquent\\CastsAttributes but does not specify its types\: TGet, TSet$#'
			identifier: missingType.generics
			count: 1
			path: app/Infrastructure/Persistence/UniqueID/UniqueID.php

		-
			message: '#^Parameter \#3 \$subject of function str_replace expects array\<string\>\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Persistence/UniqueID/UniqueID.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: app/Infrastructure/Persistence/UniqueID/UuidUser.php

		-
			message: '#^Binary operation "\." between mixed and non\-falsy\-string results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: app/Infrastructure/Providers/AppServiceProvider.php

		-
			message: '#^Parameter \#1 \$callback of static method Illuminate\\Auth\\Notifications\\ResetPassword\:\:createUrlUsing\(\) expects Closure\(mixed, string\)\: string, Closure\(App\\Infrastructure\\Persistence\\Models\\Auth\\BaseUser, string\)\: non\-falsy\-string given\.$#'
			identifier: argument.type
			count: 1
			path: app/Infrastructure/Providers/AppServiceProvider.php
